@import '~bootstrap/scss/bootstrap';

.nav-buttons2 {
  display: flex;
  justify-content: center;
}

.all-characters {
  float: left;
  display: block;
}

.all-vehicles {
  float: right;
  display: block;
}
