@import '~bootstrap/scss/bootstrap';

.nav-buttons2 {
  display: flex;
  display: block;
}

.all-characters {
  float: left;
  display: block;
  display: flex;
}

.all-vehicles {
  float: left;
  display: block;
  display: flex;
}
